@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("userId")))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">                
                <a class="dropdown-item" asp-controller="Order" asp-action="ViewOrders">Orders</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
        </li>
        @if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("cart")))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Cart" asp-action="EmptyCart">Cart</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Cart" asp-action="Index">Cart</a>
            </li>
        }
    }
</ul>
